<body>

  <div class="principal">
    <h2>Buscador por Carnet de Identidad</h2>
    <input type="text" placeholder="ingrese el CI" [(ngModel)]="carnet">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre </th>
          <th scope="col">Apellido</th>
          <th scope="col">CI</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listado|filterCI:carnet:0">
          <td>{{item.nombre|uppercase}}</td>
          <td>{{item.apellido|uppercase}}</td>
          <td>{{item.ci}}</td>
        </tr>
      </tbody>
      </table>
  </div>



</body>
