<body>
<div class="principal">
  <h2>Buscar pacientes mayores a edad digitada:</h2>

  <input type="number" placeholder="Digite la edad" [(ngModel)]="edad">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre </th>
        <th scope="col">Apellido</th>
        <th scope="col">CI</th>
        <th scope="col">Sala</th>
        <th scope="col">Edad</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listado|filterCI:'':edad">
        <td>{{item.nombre|uppercase}}</td>
        <td>{{item.apellido|uppercase}}</td>
        <td>{{item.ci|uppercase}}</td>
        <td>{{item.sala}}</td>
        <td>{{item.edad}}</td>
      </tr>
    </tbody>
    </table>

</div>

</body>
