<div class="fondo">
  <div class="principal">
    <h1>Servicios de pediatria</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis officiis recusandae impedit distinctio velit dolorem animi? Dolorem fugit perspiciatis maiores esse placeat explicabo. Nihil, nulla saepe eveniet consectetur iste soluta?
    <h3>Lorem</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis veniam saepe dolorum officiis aliquid esse iure, sunt nisi dignissimos perferendis neque, consequuntur beatae iste dicta. Nesciunt pariatur at similique dolores.
    At ipsam commodi sed ex in? Quasi provident, ex consequatur alias ab numquam sapiente ullam odio dolores, saepe a eius officiis esse necessitatibus quibusdam ipsum maiores nostrum. Tenetur, veniam harum.
    Praesentium doloribus iusto dolores hic saepe. Reprehenderit sequi itaque facere a qui aliquam consequatur laudantium magnam dicta vero dolorum maxime, possimus optio ipsum omnis? Soluta, similique qui? Totam, placeat minima.
    <h2>LOREM</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione, numquam quia aperiam, eius vitae velit harum perferendis facilis repellendus ipsam quisquam pariatur in voluptatum non inventore esse totam sunt.
    Deserunt necessitatibus mollitia, repellat natus iure ut! Molestiae aliquam hic vero corporis dolorem sunt nemo facere nisi sit dolore commodi itaque officia similique libero architecto magnam assumenda corrupti, error amet?
  </div>

